@import "./3.scss";
/*@import "./5.less";*/

#root {
    height: 300px;
    /*background: url("./timg.jpeg");*/
    background-color: red;
}
img {
    height: 400px;
    width: 400px;
    background-color: red;
}
::placeholder {
    color: red;
}
.container {
    display: flex;
}